body, html {
  font-size: 16px;
  color: #696059;
  padding: none;
  margin: none;
  font-family: sans-serif; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  width: auto;
  margin: 0px 45px;
  padding: 20px 0px;
  border-bottom: 1px solid #696059; }
  header container {
    height: 60px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    header container::after {
      clear: both;
      content: "";
      display: table; }
    header container #logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      background-image: url("/img/logo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 120px;
      height: inherit;
      width: 120px;
      display: block; }
      header container #logo:last-child {
        margin-right: 0; }
    header container form {
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      background-color: #F5F5F5;
      height: 35px;
      padding-left: 5px;
      margin-top: 15px; }
      header container form:last-child {
        margin-right: 0; }
      header container form input[type="textbox"] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-right: 0;
        background-color: transparent;
        border: none;
        height: inherit;
        font-size: 1.2em; }
        header container form input[type="textbox"]:last-child {
          margin-right: 0; }
      header container form input[type="submit"] {
        cursor: pointer;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%;
        background-image: url("/img/search.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        background-color: transparent;
        border: none;
        display: block;
        width: 30px;
        height: inherit;
        text-indent: -999px;
        font-size: 0px;
        line-height: 0; }
        header container form input[type="submit"]:last-child {
          margin-right: 0; }
    header container nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      header container nav:last-child {
        margin-right: 0; }
      header container nav div {
        margin-left: 25.58941%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-top: 14px; }
        header container nav div:last-child {
          margin-right: 0; }
        header container nav div span {
          display: block;
          width: 100%;
          height: 30px; }
          header container nav div span h1 {
            padding: 0;
            margin: 0;
            font-weight: 300; }
        header container nav div p {
          color: #ad132a;
          font-size: 0.7em;
          margin: 0; }
        header container nav div #cart {
          background-image: url("/img/cart.svg");
          background-repeat: no-repeat;
          background-size: 35px;
          background-position: center left; }

/*# sourceMappingURL=main.css.map */
