body, html {
  font-size: 16px;
  color: #696059;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

content {
  display: block; }

#wrapper {
  margin: 0px 45px;
  width: auto; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  padding: 20px 0px;
  border-bottom: 1px solid #696059; }
  header container {
    height: 60px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    header container::after {
      clear: both;
      content: "";
      display: table; }
    header container #logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      background-image: url(/_img/logo.svg);
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 120px;
      height: inherit;
      display: block; }
      header container #logo:last-child {
        margin-right: 0; }
      @media screen and (max-width: 930px) {
        header container #logo {
          background-image: url(/_img/small-logo.svg);
          background-size: 60px;
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%; }
          header container #logo:last-child {
            margin-right: 0; } }
    header container form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      background-color: #F5F5F5;
      height: 35px;
      padding-left: 5px;
      margin-top: 15px; }
      header container form:last-child {
        margin-right: 0; }
      header container form input[type="textbox"] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-right: 0;
        background-color: transparent;
        border: none;
        height: inherit;
        font-size: 1.2em; }
        header container form input[type="textbox"]:last-child {
          margin-right: 0; }
      header container form input[type="submit"] {
        cursor: pointer;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%;
        background-image: url(/_img/search.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        background-color: transparent;
        border: none;
        display: block;
        width: 30px;
        height: inherit;
        text-indent: -999px;
        font-size: 0px;
        line-height: 0; }
        header container form input[type="submit"]:last-child {
          margin-right: 0; }
      @media screen and (max-width: 930px) {
        header container form {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%; }
          header container form:last-child {
            margin-right: 0; } }
    header container nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      header container nav label {
        display: none; }
      header container nav:last-child {
        margin-right: 0; }
      header container nav div.links div {
        position: relative;
        cursor: pointer;
        -webkit-transition: background-color 0.1s ease-in-out;
        -moz-transition: background-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        display: inline-block;
        width: 48%;
        padding: 6px 7%;
        margin-top: 8px; }
        header container nav div.links div ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: none;
          background: #f8f7f7;
          padding: 3px 0px;
          position: absolute;
          left: 0;
          width: 180px;
          box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3); }
          header container nav div.links div ul line {
            border-bottom: 1px solid #696059;
            display: block;
            margin: 0px 7px; }
          header container nav div.links div ul a {
            padding: 10px 20px;
            cursor: pointer;
            color: #696059;
            display: block;
            -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: all 0.2s ease-in-out, color 0.2s ease-in-out; }
            header container nav div.links div ul a:hover {
              background-color: #696059;
              -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
              transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
              color: white; }
        header container nav div.links div:hover > ul {
          display: block; }
        header container nav div.links div:hover {
          background-color: #f8f7f7;
          -webkit-transition: background-color 0.1s ease-in-out;
          -moz-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
        header container nav div.links div span {
          display: block;
          width: 100%; }
          header container nav div.links div span h1 {
            padding: 0;
            margin: 0;
            font-weight: 300; }
        header container nav div.links div p {
          color: #ad132a;
          font-size: 0.7em;
          margin: 0; }
        header container nav div.links div#cart span {
          background-image: url(/_img/cart.svg);
          background-repeat: no-repeat;
          background-size: 35px;
          background-position: center;
          height: 30px; }
        header container nav div.links div#cart p {
          text-align: center; }
        header container nav div.links div#close {
          display: none; }
        header container nav div.links div:not(#close) label {
          display: none; }
        header container nav div.links div:not(#close) input {
          display: none; }
      @media screen and (max-width: 930px) {
        header container nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%; }
          header container nav:last-child {
            margin-right: 0; }
          header container nav label {
            display: block;
            height: 63px;
            background-size: 45px;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%; }
            header container nav label:last-child {
              margin-right: 0; }
          header container nav div.links {
            position: fixed;
            right: -200px;
            top: 0;
            background-color: white;
            border-left: 1px solid #696059;
            height: 100%;
            width: 200px;
            -webkit-transition: right 0.2s;
            -moz-transition: right 0.2s;
            transition: right 0.2s; }
            header container nav div.links div {
              display: block;
              width: 100%; }
              header container nav div.links div#close {
                height: 50px;
                display: block;
                padding: 0;
                margin: 0;
                margin-top: 20px; }
                header container nav div.links div#close label {
                  background-size: 44px;
                  height: inherit; }
              header container nav div.links div#profile:hover {
                background-color: white; }
              header container nav div.links div:not(#close) ul {
                display: none; }
              header container nav div.links div:not(#close) input:checked ~ label {
                background-color: #e1dfde; }
                header container nav div.links div:not(#close) input:checked ~ label:hover {
                  background-color: #d2cfcd; }
              header container nav div.links div:not(#close) input:checked ~ ul {
                display: block; }
              header container nav div.links div:not(#close) label {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                margin: 5px;
                background-size: 30px; }
                header container nav div.links div:not(#close) label:hover {
                  background-color: #e1dfde; }
              header container nav div.links div ul {
                display: block;
                position: relative;
                background-color: transparent;
                box-shadow: none; }
                header container nav div.links div ul a {
                  background-color: transparent; }
                  header container nav div.links div ul a:hover {
                    background-color: #f8f7f7;
                    color: #696059; } }
    header container #toggle-nav {
      display: none; }
      header container #toggle-nav:checked + nav div.links {
        right: 0;
        -webkit-transition: right 0.2s;
        -moz-transition: right 0.2s;
        transition: right 0.2s; }
    @media screen and (max-width: 930px) {
      header container.fixed {
        position: fixed;
        width: 100%;
        background-color: white;
        height: 64px;
        top: 0;
        left: 0;
        border-bottom: 1px solid #696059; }
        header container.fixed #logo {
          opacity: 0; } }

div.item {
  height: 200px;
  overflow: hidden;
  padding: 2.35765%; }
  div.item div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    div.item div:last-child {
      margin-right: 0; }
  div.item div.img-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    div.item div.img-item:last-child {
      margin-right: 0; }
    div.item div.img-item span {
      background-image: url(/_img/rasppi.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120px;
      height: 165px;
      display: block; }

h1, h2, h3, h4, h5, p, a {
  font-weight: 300;
  color: #696059; }

h1, h2, h3, h4, h5, a {
  padding: 0;
  margin: 0; }

h2, h4, h5 {
  color: #ad132a; }

a {
  color: #ce717f;
  text-decoration: none;
  height: inherit; }
  a:hover {
    color: #ad132a; }

error {
  display: block;
  background-color: #f6b6b6;
  padding: 5px 22px;
  border-left: 5px solid #E20A0A;
  margin: 10px 0px;
  border-radius: 2px; }
  error h5, error p {
    font-size: 0.6em;
    color: #E20A0A;
    margin: 0;
    padding: 0; }
  error h5 {
    font-weight: bold; }

footer {
  background: #35302d; }
  footer content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em; }
    footer content::after {
      clear: both;
      content: "";
      display: table; }
    footer content p {
      color: white;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding: 0 5px; }
      footer content p:last-child {
        margin-right: 0; }
      footer content p a {
        color: white;
        text-decoration: underline; }
      footer content p:last-child {
        text-align: center; }

.img-search {
  background-image: url(/_img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

.img-menu {
  background-image: url(/_img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

.img-cart {
  background-image: url(/_img/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

.img-back {
  background-image: url(/_img/back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

.img-droparrow {
  background-image: url(/_img/droparrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

table.data {
  border: 1px solid #b4b0ac;
  border-collapse: collapse;
  width: 100%; }
  table.data tbody tr:first-child {
    background-color: #d2cfcd; }
  table.data tbody tr:nth-child(2n) {
    background-color: #f0efee; }
  table.data tbody tr th {
    border-bottom: 1px solid #b4b0ac; }
  table.data tbody tr th, table.data tbody tr td {
    display: table-cell;
    min-width: 45px;
    text-align: left; }

body content.home {
  margin: 0px 80px;
  display: block;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body content.home::after {
    clear: both;
    content: "";
    display: table; }
  body content.home div.sort {
    float: right; }
  body content.home div.item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    body content.home div.item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 930px) {
      body content.home div.item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        body content.home div.item:last-child {
          margin-right: 0; } }
  body content.home h1 {
    width: 100%;
    border-bottom: 1px solid #696059;
    margin-top: 25px; }
  body content.home h2 {
    color: #696059; }
  body content.home h4 {
    color: #ad132a; }

body content.notfound {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body content.notfound::after {
    clear: both;
    content: "";
    display: table; }
  body content.notfound div {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    font-size: 1.4em; }
    body content.notfound div:last-child {
      margin-right: 0; }
    body content.notfound div h1 {
      font-size: 7em; }

body content.account {
  margin: 0px 80px;
  display: block; }
  body content.account table {
    margin: 2% 10%;
    width: 80%; }

body content.Login form {
  width: 350px;
  margin: 130px auto;
  font-size: 1.4em; }
  body content.Login form input {
    width: 100%;
    font-size: 1em;
    margin: 5px 0px; }
  body content.Login form input[type="submit"] {
    margin: 10px 0px;
    background-color: #ad132a;
    color: white;
    border: none;
    padding: 8px 7px;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer; }
    body content.Login form input[type="submit"]:hover {
      background-color: #bd4255;
      -webkit-transition: background-color 0.1s ease-in-out;
      -moz-transition: background-color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out; }

/*# sourceMappingURL=main.css.map */
